table {
	font-family: arial, sans-serif;
	width: 80%;
	border: 1px solid black;
}

td {
	border: 1px;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	padding: 60px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}